<div class="row mt-2 mb-4">
    <div class="col-12"><h4 class="text-center pt-5 fs-1">AGV K1 S</h4></div>
</div>


<div>
    <img class="find-img" src="https://i.postimg.cc/FKKMtFbq/header-communicationpage.jpg" alt="">
</div>
<!-- header -->
<div class="row mt-5">
    <div class="col-12"><h4 class="text-center pt-5" style="font-family: 'Space Grotesk', sans-serif;">The best helmet for any use, made from technologies <br> developed for MotoGP™.</h4></div>
</div>
<!-- para -->
<div class="row mt-5">
    <div class="col-12"><h5 class="text-center pt-4" style="font-family: 'Space Grotesk', sans-serif;">Finally, a comfortable, versatile, and safe road helmet for any use, any motorbike, and any rider thanks <br> to the same advanced materials and innovative technology used to help world champions achieve the <br> maximum in the most extreme conditions.</h5></div><br><br>
    <div class="col-12 mt-3"><h5 class="text-center pt-4" style="font-family: 'Space Grotesk', sans-serif;">Everything you need is now combined with everything you've ever wanted.</h5></div>
    
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-center mt-4">
        <a class="btn btn-warning btn-lg px-4 me-sm-3" href="http://localhost:4200/product/shopnow">BUY NOW</a>
        <a class="btn btn-outline-light btn-lg px-4" href="#!">FIND OUT MORE</a>
    </div>

</div>

<div class="fin-d1" style="font-family: 'Space Grotesk', sans-serif;">
    <h3>SAFETY</h3>
    <h5>Safety for everyone based on the MotoGP™ experience.</h5>
</div>


<!-- details 1-->

<div class="container pt-5 " style="font-family: 'Space Grotesk', sans-serif;">

    <div class="row">

        <div class="col-md-5">
            <img class="w-100" src="https://i.postimg.cc/DZSNzvkf/k1-s-05.jpg" alt="">
        </div>


        <div class="col-md-6  text-center mt-5" style="border-radius: 15px;">
            <h3 class="mt-5">EVEN SAFER</h3>
            <p class="mt-4">The AGV Extreme Safety construction protocol means that the K1 <br> S exceeds the requirements of the most recent international <br> standards. In fact, the K1 S has passed the required tests for ECE <br> 2206 homologation with flying colours, making it even safer.</p>
        </div>


    </div>
</div>
<hr>

<!-- details 2-->


<div class="container pt-5 " style="font-family: 'Space Grotesk', sans-serif;">

    <div class="row">

        <div class="col-md-6  text-center mt-5" style="border-radius: 15px;">
            <h3 class="mt-5">PROTECTION IN ALL SIZES</h3>
            <p class="mt-4">The shell is made of high-resistance thermoplastic material. 2 <br> sizes of outer shell and 4 sizes of inner shell made of <br> multidensity EPS to offer maximum protection against any type <br> of impact..</p>
        </div>

        <div class="col-md-5">
            <img class="w-100" src="https://i.postimg.cc/MGqxXjd6/k1-s-06.jpg" alt="">
        </div>

    </div>
</div>
<hr>

<!-- details 3-->


<div class="container pt-5 " style="font-family: 'Space Grotesk', sans-serif;">

    <div class="row">

        <div class="col-md-5">
            <img class="w-100" src="https://i.postimg.cc/pXvtsjMD/k1-s-07.jpg" alt="">
        </div>


        <div class="col-md-6  text-center mt-5" style="border-radius: 15px;">
            <h3 class="mt-5">DETAILS FROM THE RACING WORLD</h3>
            <p class="mt-4">The profile of the helmet is designed to limit the likelihood of <br> impact with the collarbone and the double D closure, the high-quality <br> and very safe retention system, is the same type of fastening used on the track. Racing <br> standards introduced by AGV also for K1 S.</p>

            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-center mt-4">
                <a class="btn btn-warning btn-lg px-4 me-sm-3" href="http://localhost:4200/product/shopnow">BUY NOW</a>
            </div>
        
        </div>


    </div>
</div>
<hr>

<!-- ===================================================================================================== -->
<!-- ===================================================================================================== -->
<div class="fin-d1" style="font-family: 'Space Grotesk', sans-serif;">
    <h3>ULTRAVISION</h3>
    <h5>See the obstacles and the road sooner and better</h5>
</div>


<!-- details 1-->

<div class="container pt-5 " style="font-family: 'Space Grotesk', sans-serif;">

    <div class="row">

        <div class="col-md-6  text-center mt-5" style="border-radius: 15px;">
            <h3 class="mt-5">PANORAMIC VISION</h3>
            <p class="mt-4">The AGV Extreme Safety construction protocol means that the K1
                S exceeds the requirements of the most recent international
                standards. In fact, the K1 S has passed the required tests for ECE
                2206 homologation with flying colours, making it even safer.</p>
        </div>

        <div class="col-md-5">
            <img class="w-100" src="https://i.postimg.cc/kMTpbYvR/k1-s-08.jpg" alt="">
        </div>

    </div>
</div>
<hr>

<!-- details 2-->


<div class="container pt-5 " style="font-family: 'Space Grotesk', sans-serif;">

    <div class="row">

        <div class="col-md-5">
            <img class="w-100" src="https://i.postimg.cc/7P1TsjWb/k1-s-09.jpg" alt="">
        </div>


        <div class="col-md-6  text-center mt-5" style="border-radius: 15px;">
            <h3 class="mt-5">VERSATILE, JUST THE WAY YOU LIKE IT</h3>
            <p class="mt-4">The visor, adjustable to 5 positions, allows you to adjust the air flow inside the helmet according to your needs. Furthermore, the patented Extra Quick Release System mechanism means that the visor is easy and practical to change.</p>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-center mt-4">
                <a class="btn btn-warning btn-lg px-4 me-sm-3" href="http://localhost:4200/product/shopnow">BUY NOW</a>
            </div>
        </div>

    </div>
</div>

<!-- ================================================================================== -->
<!-- ================================================================================== -->

<div class="fin-d1"  style="font-family: 'Space Grotesk', sans-serif;">
    <h3>COMFORT</h3>
    <h5>Comfort for your performance</h5>
</div>

<!-- details 1-->


<div class="container pt-5" style="font-family: 'Space Grotesk', sans-serif;">

    <div class="row">

        <div class="col-md-6  text-center mt-5" style="border-radius: 15px;">
            <h3 class="mt-5">PERFECT VENTILATION ON ANY ROUTE</h3>
            <p class="mt-4">The thermoregulation system operates at maximum efficiency <br> thanks to the exchange between air coming from outside and <br> the air inside. The spoiler was designed in the wind tunnel with <br> the new design and double rear extractor to improve and increase <br> air recirculation and therefore thermal comfort inside the helmet.</p>
        </div>

        <div class="col-md-5">
            <img class="w-100" src="https://i.postimg.cc/Cx8Z8tkF/k1-s-10.jpg" alt="">
        </div>

    </div>
</div>

<hr>

<!-- details 2-->


<div class="container pt-5" style="font-family: 'Space Grotesk', sans-serif;">

    <div class="row">

        <div class="col-md-5">
            <img class="w-100" src="https://i.postimg.cc/7P1TsjWb/k1-s-09.jpg" alt="">
        </div>


        <div class="col-md-6  text-center mt-5" style="border-radius: 15px;">
            <h3 class="mt-5">AERATION TO SUIT YOU</h3>
            <p class="mt-4">3 individually adjustable air vents in the shell and 2 air vents on <br> the chin optimised to increase the speed at which air enters the helmet. Micro-Opening: <br> a feature of the top models in the AGV range, including the K1 S. Travel with the visor <br> open a few millimeters to safely regulate the air flow. Double rear <br> extractor that channels the air flow and improves <br> heat transfer to the outside.</p>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-center mt-4">
                <a class="btn btn-warning btn-lg px-4 me-sm-3" href="http://localhost:4200/product/shopnow">BUY NOW</a>
            </div>
        </div>

    </div>
</div>
