<div>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="index.html">AMT Customs <i class="fa-brands fa-app-store"
                    style="color: #f2f4f8;"></i></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item"><a class="nav-link" href="about.html">Full Face</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Flip Face</a></li>
                    <li class="nav-item"><a class="nav-link" href="pricing.html">Open Face</a></li>
                    <li class="nav-item"><a class="nav-link" href="faq.html">Accessories</a></li> -->

                    <!-- <li class="nav-item"><a class="nav-link" href="http://localhost:4200/product/login">LogIn</a></li> -->
                    <div *ngIf="!isLoggedIn()">
                        <button (click)="loggedIn()" id="lo" name="ou2" class="logout">
                            <li class="nav-item"><a class="nav-link"
                                    href="http://localhost:4200/product/login">LogIn</a></li>
                        </button>
                    </div>

                    <div *ngIf="isLoggedIn()">
                        <button (click)="logOut()" id="lo" name="ou2" class="logout">
                            <li class="nav-item"><a class="nav-link" href="http://localhost:4200/product">LogOut</a>
                            </li>

                        </button>
                    </div>


                    <li class="nav-item"><a class="nav-link" href="faq.html"><i class="fa-solid fa-cart-shopping"
                                style="color: #f0e3d6;"></i></a></li>


                    <input type="text" placeholder="search" class="inp text-center" style="border-radius: 9px;">


                    <div *ngIf="isLoggedIn()" class="nam">
                        <button (click)="logOut()" id="lo" name="ou2" class="logout">
                            <li class="nav-item"><a class="nav-link" href=""><i class="fa-regular fa-user me-2" style="color: #e5e4c2;"></i> {{uname}}</a>
                            </li>

                        </button>
                    </div>

                </ul>
            </div>
        </div>
    </nav>

</div>