<div class="cards  py-5">
    <div class="row gx-4 gx-lg-5">

        <div class="card3" style="width: 18rem;">
            <i class="fa-brands fa-amazon-pay fs-3"></i><br><br>
            <div class="card-body">
              <h5 class="card-title">SECURE</h5>
              <h5 class="card-title">PAYMENT</h5><br>
              <p class="card-text">We guarantee the security of all transactions</p>
            </div>
          </div>

          <div class="card3" style="width: 18rem;">
            <i class="fa-solid fa-truck-fast fs-3"></i><br><br>
            <div class="card-body">
              <h5 class="card-title">SHIPMENTS WITH EXPRESS COURIER</h5><br>
              <p class="card-text">The express courier delivers in 3/5 days in Europe, in 4/7 days in the rest of the world</p>
            </div>
          </div>

          <div class="card3" style="width: 18rem;">
            <i class="fa-solid fa-truck-ramp-box fs-3"></i><br><br>
            <div class="card-body">
              <h5 class="card-title">EASY</h5>
              <h5 class="card-title">RETURN</h5><br>
              <p class="card-text">If you want to return the product, you have 30 days to do it</p>
            </div>
          </div>
          
    </div>
</div>

<!-- ==================footer=============================== -->

<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">© 2023 - Dainese S.p.A a socio unico - 36064 Colceresa (VI) – Via Louvigny n. 35
            Company subject to management and coordination by Shield S.p.A. - (Italy)
            Vicenza Business Register number: IT03924090248 - VAT number: IT03924090248 - Fully paid-up share capital € 1,582,751 - All rights reserved</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">FAQ - Ecommerce</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">Payments</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Shipping & Delivery</a></li>
            <li><a href="http://scanfcode.com/category/android/">Terms & Conditions</a></li>
            <li><a href="http://scanfcode.com/category/templates/">My Orders</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">Scanfcode</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa-brands fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>