<!-- header -->
<header class="bg-dark py-5">
    <div class="container px-5" style="font-family: 'Space Grotesk', sans-serif">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">AGV K1 S</h1>
                    <p class="lead fw-normal text-white-50 mb-4">
                        Style and comfort for the challenges of daily life based on AGV’s
                        experience in MotoGP™.
                    </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <button (click)="buyNow()" class="btn btn-warning btn-lg px-4 me-sm-3">
                            <a class="btn btn-warning btn-lg px-4 me-sm-3" 
                                >BUY NOW</a>
                        </button>
                        <button class="btn btn btn-lg px-4">
                            <a class="btn btn-outline-light btn-lg px-4"
                            routerLink="findmore">FIND OUT MORE
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <img class="img-fluid rounded-3 my-5" src="https://i.postimg.cc/hGrtVMpW/300752-rep-3.png" alt="..." />
            </div>
        </div>
    </div>
</header>

<!-- ===============================================Content cards Row=============================-->

<div class="cards bg-dark py-5" style="font-family: 'Space Grotesk', sans-serif">
    <div class="row gx-4 gx-lg-5">
        <h4 class="text-center text-light">TOP SELLING</h4>

        <div class="card" style="width: 18rem">
            <img src="https://i.postimg.cc/LX9CjRmm/pista-gp-rr-e2206-dot-futuro-carbonio-forgiato.webp"
                class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">PISTA GP RR ECE DOT SPECIAL EDITION</h5>
                <p class="card-text">
                    Special edition of the racing helmet used in MotoGP™ with shell and
                    PRO Spoiler, visor and details in
                    Elettro Iridium blue 
                    <a class="btn btn-warning btn-lg px-4 me-sm-3" style="font-size: smaller; padding: 5px;" routerLink="shopnow"
                    >BUY NOW</a>
                </p>
            </div>
        </div>

        <div class="card" style="width: 18rem">
            <img src="https://i.postimg.cc/1zJTC4C8/pista-gp-rr-e2206-dot-mono-iridium-carbon.webp" class="card-img-top"
                alt="..." />
            <div class="card-body">
                <h5 class="card-title">PISTA GP RR ECE DOT MONO - IRIDIUM CARBON</h5>
                <p class="card-text">
                    The 100% carbon-fiber racing helmet used by MotoGP™ riders. Color:
                    Iridium Carbon.
                    <a class="btn btn-warning btn-lg px-4 me-sm-3" style="font-size: smaller; padding: 5px;" routerLink="shopnow"
                    >BUY NOW</a>
                </p>
            </div>
        </div>

        <div class="card" style="width: 18rem">
            <img src="https://i.postimg.cc/vmtX8mpG/k1-s-e2206-dreamtime.webp" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">K1 TOP ECE DOT - DREAMTIME</h5>
                <p class="card-text">
                    K1 is the brand new AGV sport helmet for everyday riding challenges.
                    Born from AGV racing technology
                    <a class="btn btn-warning btn-lg px-4 me-sm-3" style="font-size: smaller; padding: 5px;" routerLink="shopnow"
                    >BUY NOW</a>
                </p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>
</div>

<!-- ========================================= category  ======================================================= -->

<div class="cat-cards bg-light py-5" style="font-family: 'Space Grotesk', sans-serif">
    <div class="row gx-4 gx-lg-5">
        <h4 class="text-center text-DARk">SHOP BY RIDING STYLE</h4>

        <div class="card2" style="width: 18rem">
            <img src="https://i.postimg.cc/g2ZNQpdH/racing.png" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title text-center">Racing</h5>
            </div>
        </div>

        <div class="card2" style="width: 18rem">
            <img src="https://i.postimg.cc/qqN8Kcvx/sport.png" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title text-center">Sport</h5>
            </div>
        </div>

        <div class="card2" style="width: 18rem">
            <img src="https://i.postimg.cc/NF8rmNwT/touring.png" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title text-center">Touring</h5>
            </div>
        </div>

        <div class="card2" style="width: 18rem">
            <img src="https://i.postimg.cc/xTtXQNj0/offroad.png" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title text-center">Off-Road</h5>
            </div>
        </div>
    </div>
</div>